<div id="quotes_list">
    <ul>
        <a
                style="cursor: pointer"
                *ngFor="let quote of quotes; let i = index"
                (click)="updateOffset(quote.offset)"
        >
            {{i+1}}) {{quote.text}}
        </a>

    </ul>
</div>