div.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

div.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}
* {
    box-sizing: border-box;
}

#list{
    position: relative;
    float:left ;
    margin: 10px;
    max-height: 250px;
    overflow: auto;
}

a{
    float: left;
    width: 100%;
}
.song_item{
    width: 180px;
}