<div class="example">
    <input type="text" placeholder="Search.." name="search" #input (keyup)="searchSong(input.value)">
    <h3 style="float: left" *ngIf="!songs.length">no matching songs </h3>

    <div id="list">
        <ul>
            <a
                    style="cursor: pointer"
                    *ngFor="let song of songs; let i = index"
                    (click)="onClickSong(i)"
            >
                {{i+1}}) {{ song }}
            </a>
        </ul>
    </div>
</div>

