<div class="wrapper">
    <div class="center">
        <h3>YOU TUBE QUOTES APPLICATION</h3>
    </div>
</div>
<div id="bodyContainer">
    <div class="left">
        <app-songs-list></app-songs-list>
    </div>
    <div class="right">
        <app-youtube-player></app-youtube-player>
    </div>
</div>