.center {
    display: inline-block;
}

.wrapper {
    text-align: center;
}

.left {
    width: 35%;
    max-height: 500px;
    float: left;
    border: 1px solid black;

}

.right {
    width: 60%;
    float: right;
    border: 1px solid black;

}

#bodyContainer {
    width: 100%;
    margin-right: 10px;
}