<div>
    <div>
        <section>
            <section>
                <youtube-player
                        [videoId]="id"
                        (ready)="savePlayer($event)"
                        (change)="onStateChange($event)"
                        [playerVars]="playerVars"
                >
                </youtube-player>
            </section>
            <div></div>
        </section>
        <button
                type="button"
                (click)="playVideo()">
            Play
        </button>
        <button
                type="button"
                (click)="pauseVideo()">
            Pause
        </button>
    </div>
</div>